@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Overpass:ital,wght@0,500;1,400&family=Poppins:wght@600&display=swap");
.cover {
  background: rgba(0, 0, 0, 0.13);
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
  padding: 5px;
  background: rgb(190, 185, 185);
}
.button {
  margin-top: 20px;
  background: rgb(181, 207, 134);
}
.footer {
  background-color: #868e96;
  padding: 70px 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1170px;

  margin: auto;
}
ul {
  list-style: none;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3 ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
