.shirts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 300px;
  height: 300px;
}
.menu-cover {
  width: 400px;
}

.button {
  margin-bottom: 20px;
}

.div {
  border-radius: 20px;
}
